@mixin fonts($fw,$fs,$lh){
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}

@mixin d-flex($flex,$jc,$ai){
    display: $flex;
    justify-content: $jc;
    align-items: $ai;
}
%d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
//----------------------------
*{
    box-sizing: border-box;
    font-family: 'Inter';
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.container{
    padding: 50px;
}

.small-btn{
    margin-top: 20px;
}
h2{
    margin-bottom: 26px;
}
.small-btns__wrapper{
    display: flex;
    gap: 146px;
}


.download-small{
    display: flex;
    gap: 54px;
    margin-left: 20px;
}

.small-btns__download-sm{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


//--------------------------------------

//======================================
.download__btn-sm{
    border: none;
    outline: none;
    width: 111px;
    height: 36px;
    border-radius: 5px;
    @extend %d-flex;
    gap: 12px;
    font-size: 13px;
    cursor: pointer;
    transition: .3s;
}

.download-blue--col-sm{
    background: #18A0FB;
    color: #fff;
}

.download-grey--col-sm{
    background:rgba(224, 224, 224, 0.3);;
    color: #878787;
}

.download-svg--grey-sm{
    fill: #878787;
    &:first-child{
        fill: none;
    }
}
//=================================
.download-white--col-sm{
    background:#fff;
    color: #2C2C2C;
    border: 1px solid #E0E0E0;
}

.download-svg--dark-sm{
    fill: #2C2C2C;
    &:first-child{
        fill: none;
    }
}
//=================================
.download--white-blou-sm{
    background:#fff;
    color: #18A0FB;
    border: 1px solid #18A0FB;
}

.download-svg-blou-sm{
    fill: #18A0FB;
    &:first-child{
        fill: none;
    }
}

.download-aktive{
    background-color: #FF3E1D;
    color: #fff;
}
//---------------------------------------------------

//---------------------------------
.tabs-container-sm{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tabs__box-one-sm{
    display: flex;
}
.tab-one-sm{
    border: 1px solid #E0E0E0;
    outline: none;
    width: 48px;
    height: 36px;
    background: #fff;
    cursor: pointer;
}

.box-one-left-sm{
    border-right: none;
    border-radius: 5px 0px 0px 5px;
}
.box-one-right-sm{
    border-left: none;
    border-radius: 0px 5px 5px 0px;
}

//---------------

.tabs__box-two-sm{
    display: flex;
}
.tab-two-sm{
    border: 1px solid #E0E0E0;
    outline: none;
    width: 86px;
    height: 36px;
    background: #fff;
    cursor: pointer;
}

.tab-two-left-sm{
    border-right: none;
    border-radius: 5px 0px 0px 5px;
}

.tab-two-right-sm{
    border-radius: 0px 5px 5px 0px;
}
//-------------
.tabs__box-three-sm{
    display: flex;
}
.tab-three-sm{
    border: 1px solid #E0E0E0;
    outline: none;
    width: 58px;
    height: 36px;
    background: #fff;
    cursor: pointer;
}

.tab-s-sm{
    border-right: none;
    border-radius: 5px 0px 0px 5px;
}
.tab-l-sm{
    border-right: none;
    border-radius: 0px 5px 5px 0px;
}


.tab-activ{
    border: none;
    background: #18A0FB;
    color: #fff;
    .tab-activ-svg {
        fill: #fff;
    }
}
//=========================================

.search{
    display: flex;
    gap: 20px;
}
.search-btn{
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.search-sm{
    width: 36px;
    height: 36px;
    background: #FF3E1D;
}

.search-big{
    width: 48px;
    height: 48px;
    background: #00D200;
}

//--------------------------------


.tag{
    margin-top: 60px;
}

.tag-big{
    display: flex;
    gap: 12px;
}

.tag-btn{
    outline: none;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    cursor: pointer;
    @extend %d-flex;
    gap: 10px;
    background-color: #fff;

}

.tag-big-btn{
    width: 65px;
    height: 28px;
}





.tag-sm{
    display: flex;
    gap: 25px;

    
}

.tag-btn-sm{
    width: 51px;
    height: 28px;
    background: rgba(224, 224, 224, 0.3);
}

.tag-btn-active{
    background-color: #18A0FB;
    color: #fff;
    .svg-active{
        fill: #fff;
    }
}